Repository Kordrad/ng-zen: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,html}": ["npx eslint --fix"],
  "*.{json,js,ts,html}": ["prettier --write --ignore-unknown"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat(schematics/generate): add CLI to generate components
  projects/cli/package.json
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/component-generator.ts
  projects/cli/schematics/components/files/README.md.template
  projects/cli/schematics/components/files/avatar/avatar.component.scss.template
  projects/cli/schematics/components/files/avatar/avatar.component.spec.ts.template
  projects/cli/schematics/components/files/avatar/avatar.component.ts.template
  projects/cli/schematics/components/files/avatar/index.ts.template
  projects/cli/schematics/components/files/pin/index.ts.template
  projects/cli/schematics/components/files/pin/pin.component.scss.template
  projects/cli/schematics/components/files/pin/pin.component.spec.ts.template
  projects/cli/schematics/components/files/pin/pin.component.ts.template
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/schema.json
Due: npx eslint --fix, prettier --write --ignore-unknown

refactor(schematics): small refactor and improvements
  projects/cli/.eslintrc.json
  projects/cli/package.json
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/avatar/avatar.component.scss
  projects/cli/schematics/components/files/avatar/avatar.component.spec.ts
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/avatar/index.ts
  projects/cli/schematics/components/files/avatar/index.ts.template
  projects/cli/schematics/components/files/pin/index.ts
  projects/cli/schematics/components/files/pin/index.ts.template
  projects/cli/schematics/components/files/pin/pin.component.scss
  projects/cli/schematics/components/files/pin/pin.component.spec.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/schema.json
  projects/cli/schematics/components/templates/README.md.template
  projects/cli/schematics/ng-add/index.ts
  projects/cli/schematics/ng-add/ng-zen-generator.ts
  projects/cli/schematics/ng-add/schema.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: move files to cli
  projects/cli/schematics/components/files/badge/badge.component.scss
  projects/cli/schematics/components/files/badge/badge.component.spec.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/badge/index.ts
  projects/cli/schematics/components/schema.json
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.component.scss
  projects/kit/src/components/avatar/avatar.component.spec.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/index.ts
  projects/kit/src/components/index.ts
  projects/kit/src/components/pin/index.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.spec.ts
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/stories/components/avatar.stories.ts
  projects/kit/src/stories/components/badge.stories.ts
  projects/kit/src/stories/components/pin.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

test(kit): remove tests for kit library
  projects/kit/src/public-api.spec.ts
  projects/kit/src/public-api.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

build: cleanup project
  angular.json
  package.json
  projects/cli/.storybook/main.ts
  projects/cli/.storybook/preview.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/.storybook/typings.d.ts
  projects/cli/documentation.json
  projects/cli/stories/.eslintrc.json
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/pin.stories.ts
  projects/cli/stories/pages/Configure.mdx
  projects/kit/.eslintrc.json
  projects/kit/README.md
  projects/kit/jest.config.ts
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/styles/mixins.scss
  projects/kit/src/types/booleanAttribute.type.ts
  projects/kit/src/types/index.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix(storybook): move storybook to CLI project
  angular.json
  jest.config.ts
  package-lock.json
  package.json
  projects/cli/.storybook/main.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/documentation.json
  projects/cli/package.json
  projects/cli/schematics/components/files/avatar/avatar.component.scss
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/pin.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(cli): add schematics with ng-add
  angular.json
  package-lock.json
  package.json
  projects/cli/.eslintrc.json
  projects/cli/README.md
  projects/cli/jest.config.ts
  projects/cli/package.json
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/avatar/avatar.component.scss
  projects/cli/schematics/components/files/avatar/avatar.component.spec.ts
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/avatar/index.ts
  projects/cli/schematics/components/files/badge/badge.component.scss
  projects/cli/schematics/components/files/badge/badge.component.spec.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/badge/index.ts
  projects/cli/schematics/components/files/pin/index.ts
  projects/cli/schematics/components/files/pin/pin.component.scss
  projects/cli/schematics/components/files/pin/pin.component.spec.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/schema.json
  projects/cli/schematics/components/templates/README.md.template
  projects/cli/schematics/ng-add/index.ts
  projects/cli/schematics/ng-add/ng-zen-generator.ts
  projects/cli/schematics/ng-add/schema.json
  projects/cli/schematics/utils/add-path-to-tsconfig.util.ts
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
  projects/cli/tsconfig.spec.json
  projects/kit/documentation.json
  projects/kit/src/components/index.ts
  projects/kit/src/public-api.spec.ts
  projects/kit/src/public-api.ts
  projects/kit/src/stories/components/avatar.stories.ts
  projects/kit/src/stories/components/badge.stories.ts
  projects/kit/src/stories/components/pin.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

build: re-configure project and storybook (#50)
  angular.json
  jest.config.ts
  package-lock.json
  package.json
  projects/cli/.storybook/main.ts
  projects/cli/.storybook/preview.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/.storybook/typings.d.ts
  projects/cli/documentation.json
  projects/cli/package.json
  projects/cli/schematics/components/files/avatar/avatar.component.scss
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/stories/.eslintrc.json
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/pin.stories.ts
  projects/cli/stories/pages/Configure.mdx
  projects/kit/.eslintrc.json
  projects/kit/README.md
  projects/kit/documentation.json
  projects/kit/jest.config.ts
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/styles/mixins.scss
  projects/kit/src/types/booleanAttribute.type.ts
  projects/kit/src/types/index.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

test: use jest instead of karma
  angular.json
Due: prettier --write --ignore-unknown

fix(readme.md): copy file to dist
  angular.json
  projects/cli/package.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/ng-add/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat: add BSD 2-Clause License and author information
  LICENSE
  projects/cli/LICENSE
  projects/cli/package.json
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/templates/README.md.template
Due: npx eslint --fix, prettier --write --ignore-unknown

feat: add BSD 2-Clause License and author information (#52)
  LICENSE
  projects/cli/LICENSE
  projects/cli/package.json
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/templates/README.md.template
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(pull-request-check): cache module installation to improve performance
  .github/workflows/pull-request-check.yml
Due: none

feat(pull-request-check): cache module installation to improve performance (#53)
  .github/workflows/pull-request-check.yml
Due: none

feat(tag): add component
  projects/cli/.storybook/tsconfig.json
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/tag/index.ts
  projects/cli/schematics/components/files/tag/tag.component.scss
  projects/cli/schematics/components/files/tag/tag.component.spec.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/tag.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(tag): add component (#35)
  projects/cli/.storybook/tsconfig.json
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/tag/index.ts
  projects/cli/schematics/components/files/tag/tag.component.scss
  projects/cli/schematics/components/files/tag/tag.component.spec.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/tag.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

docs(components/stories): improve documentation for components and stories examples
  package.json
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/stories/components/badge.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

docs(components/stories): improve documentation (#54)
  package.json
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/stories/components/badge.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

docs(readme.md): add information about projects
  README.md
  projects/cli/README.md
Due: none

docs(readme.md): add information about projects (#55)
  README.md
  projects/cli/README.md
Due: none

feat(switch): add component
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/switch/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.scss
  projects/cli/schematics/components/files/switch/zen-switch.component.spec.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/switch.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: styles & logic
  projects/cli/documentation.json
  projects/cli/schematics/components/files/switch/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.scss
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/stories/components/switch.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(switch): add component (#56)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/switch/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.scss
  projects/cli/schematics/components/files/switch/zen-switch.component.spec.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/switch.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(button): add component
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.spec.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/button/index.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/button.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor(button): styles
  projects/cli/schematics/components/files/button/button.component.scss
Due: stylelint --fix

feat(button): add component (#59)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.spec.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/button/index.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/button.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore(release): 0.0.1-alpha.1
  projects/cli/CHANGELOG.md
  projects/cli/package.json
Due: prettier --write --ignore-unknown

chore(release): 0.0.1-alpha.1 (#60)
  projects/cli/CHANGELOG.md
  projects/cli/package.json
Due: prettier --write --ignore-unknown

feat(checkbox): add component
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.spec.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/checkbox/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/checkbox.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor: stories & styles docs
  projects/cli/documentation.json
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/stories/components/checkbox.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(checkbox): add component (#61)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.spec.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/checkbox/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/checkbox.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

refactor(checkbox): change inputElement as required
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

refactor(checkbox): change inputElement as required (#63)
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

docs(components): improve repo url link in components
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

docs(components): improve repo url link in components (#64)
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(directives): add generator for directives
  angular.json
  projects/cli/.storybook/tsconfig.json
  projects/cli/documentation.json
  projects/cli/schematics/_utils/add-path-to-tsconfig.util.ts
  projects/cli/schematics/_utils/apply-file-template.util.ts
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/directives/directives-generator.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.ts
  projects/cli/schematics/directives/files/disabled/index.ts
  projects/cli/schematics/directives/index.ts
  projects/cli/schematics/directives/schema.json
  projects/cli/schematics/directives/templates/README.md.template
  projects/cli/schematics/ng-add/index.ts
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/button.stories.ts
  projects/cli/stories/components/checkbox.stories.ts
  projects/cli/stories/components/pin.stories.ts
  projects/cli/stories/components/switch.stories.ts
  projects/cli/stories/components/tag.stories.ts
  projects/cli/stories/directives/disabled.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

docs(readme.md): add info how to generate directives
  projects/cli/README.md
Due: none

test(disabled.directive): fix tests
  jest.config.ts
  projects/cli/documentation.json
  projects/cli/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(directives): add generator for directives (#65)
  angular.json
  jest.config.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/README.md
  projects/cli/documentation.json
  projects/cli/schematics/_utils/add-path-to-tsconfig.util.ts
  projects/cli/schematics/_utils/apply-file-template.util.ts
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/directives/directives-generator.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.ts
  projects/cli/schematics/directives/files/disabled/index.ts
  projects/cli/schematics/directives/index.ts
  projects/cli/schematics/directives/schema.json
  projects/cli/schematics/directives/templates/README.md.template
  projects/cli/schematics/ng-add/index.ts
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/button.stories.ts
  projects/cli/stories/components/checkbox.stories.ts
  projects/cli/stories/components/pin.stories.ts
  projects/cli/stories/components/switch.stories.ts
  projects/cli/stories/components/tag.stories.ts
  projects/cli/stories/directives/disabled.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix
