Repository Kordrad/ng-zen: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,html}": ["npx eslint --fix"],
  "*.{json,js,ts,html}": ["prettier --write --ignore-unknown"],
  "*.{css,scss}": ["stylelint --fix"]
}

fix(components): remove unnecessary modules export
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/avatar/index.ts
  projects/cli/src/schematics/components/files/button/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

fix(button): import in stories
  projects/cli/src/schematics/components/files/button/button.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

fix(component/avatar): example docs
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/avatar/avatar.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(component/avatar): restore & improve component (#95)
  eslint.config.js
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/avatar/avatar.component.scss
  projects/cli/src/schematics/components/files/avatar/avatar.component.spec.ts
  projects/cli/src/schematics/components/files/avatar/avatar.component.ts
  projects/cli/src/schematics/components/files/avatar/avatar.stories.ts
  projects/cli/src/schematics/components/files/avatar/index.ts
  projects/cli/src/schematics/components/files/button/button.stories.ts
  projects/cli/src/schematics/components/files/button/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore(.gitignore): add .nx/* to gitignore (#91)
  .gitignore
Due: none

fix(eslint): remove quiet flag (#21)
  .lintstagedrc
Due: none

feat(storybook): add storybook instead of demo app (#26)
  .eslintrc.json
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/kit/.storybook/main.ts
  projects/kit/.storybook/preview.ts
  projects/kit/.storybook/tsconfig.json
  projects/kit/.storybook/typings.d.ts
  projects/kit/documentation.json
  projects/kit/package.json
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/stories/.eslintrc.json
  projects/kit/src/stories/pages/Configure.mdx
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
  src/assets/.gitkeep
  src/favicon.ico
  src/index.html
  src/main.ts
  src/styles.scss
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix(builder): problems with installation in another project (#92)
  projects/cli/builders/index.js
  projects/cli/package.json
  projects/cli/src/schematics/components/schema.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(publish): add local publish scripts and update documentation (#93)
  README.md
  package.json
Due: prettier --write --ignore-unknown

feat(badge): add top/right/bottom/left positions to component (#20)
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

docs(components/stories): improve documentation (#54)
  package.json
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/stories/components/badge.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(switch): add component (#56)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/switch/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.scss
  projects/cli/schematics/components/files/switch/zen-switch.component.spec.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/switch.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(directives): add generator for directives (#65)
  angular.json
  jest.config.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/README.md
  projects/cli/documentation.json
  projects/cli/schematics/_utils/add-path-to-tsconfig.util.ts
  projects/cli/schematics/_utils/apply-file-template.util.ts
  projects/cli/schematics/collection.json
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.html
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/directives/directives-generator.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/schematics/directives/files/disabled/disabled.directive.ts
  projects/cli/schematics/directives/files/disabled/index.ts
  projects/cli/schematics/directives/index.ts
  projects/cli/schematics/directives/schema.json
  projects/cli/schematics/directives/templates/README.md.template
  projects/cli/schematics/ng-add/index.ts
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/button.stories.ts
  projects/cli/stories/components/checkbox.stories.ts
  projects/cli/stories/components/pin.stories.ts
  projects/cli/stories/components/switch.stories.ts
  projects/cli/stories/components/tag.stories.ts
  projects/cli/stories/directives/disabled.stories.ts
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

chore(release): 0.0.1-alpha.1 (#60)
  projects/cli/CHANGELOG.md
  projects/cli/package.json
Due: prettier --write --ignore-unknown

feat(kit): add new library (#7)
  .stylelintrc.json
  angular.json
  package-lock.json
  package.json
  projects/kit/.eslintrc.json
  projects/kit/README.md
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/public-api.spec.ts
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(tag): add component (#35)
  projects/cli/.storybook/tsconfig.json
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/tag/index.ts
  projects/cli/schematics/components/files/tag/tag.component.scss
  projects/cli/schematics/components/files/tag/tag.component.spec.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/avatar.stories.ts
  projects/cli/stories/components/badge.stories.ts
  projects/cli/stories/components/tag.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(pin): add stream animation (#34)
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
  projects/kit/src/types/booleanAttribute.type.ts
  projects/kit/src/types/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(pin): add component (#33)
  projects/kit/.storybook/preview.ts
  projects/kit/documentation.json
  projects/kit/jest.config.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/index.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.spec.ts
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix(directives/disabled): rename ZenHostDirective to ZenDisabledHostDirective (#69)
  projects/cli/src/schematics/components/files/button/button.component.ts
  projects/cli/src/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/src/schematics/components/files/radio/radio.component.ts
  projects/cli/src/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/src/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/src/schematics/directives/files/disabled/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(badge): add new component (#10)
  angular.json
  jest.config.ts
  projects/kit/jest.config.ts
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.spec.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/index.ts
  projects/kit/src/components/index.ts
  projects/kit/src/public-api.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat: add docs script (#39)
  package.json
Due: prettier --write --ignore-unknown

docs(readme.md): add information about projects (#55)
  README.md
  projects/cli/README.md
Due: none

feat(avatar): add component (#32)
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.component.scss
  projects/kit/src/components/avatar/avatar.component.spec.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/avatar/index.ts
  projects/kit/src/styles/mixins.scss
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

docs(components): improve repo url link in components (#64)
  projects/cli/documentation.json
  projects/cli/schematics/components/files/avatar/avatar.component.ts
  projects/cli/schematics/components/files/badge/badge.component.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/pin/pin.component.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/files/tag/tag.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

fix: restore project name to ng-zen (#19)
  angular.json
Due: prettier --write --ignore-unknown

ci(prettier): remove bracketSameLine rule (#9)
  .prettierrc
  src/app/app.component.html
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(components): add option to generate stories (#94)
  package.json
  projects/cli/.storybook/main.ts
  projects/cli/documentation.json
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/files/button/button.stories.ts
  projects/cli/src/schematics/components/index.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/schematics/components/templates/README.md.template
  projects/cli/src/types/generator-schema-base.interface.ts
  projects/cli/src/types/index.ts
  projects/cli/src/utils/apply-file-template.util.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

ci: initial configuration (#1)
  .commitlintrc
  .eslintignore
  .eslintrc.confiks.json
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/pull-request-check.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  angular.json
  jest.config.ts
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/index.html
  src/main.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(storybook): add silent option to storybook:doc (#90)
  package.json
  projects/cli/documentation.json
Due: prettier --write --ignore-unknown

build(deps): bump angular packages (#14)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat(pull-request-check): cache module installation to improve performance (#53)
  .github/workflows/pull-request-check.yml
Due: none

feat: add BSD 2-Clause License and author information (#52)
  LICENSE
  projects/cli/LICENSE
  projects/cli/package.json
  projects/cli/schematics/components/index.ts
  projects/cli/schematics/components/templates/README.md.template
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(button): add component (#59)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/button/button.component.scss
  projects/cli/schematics/components/files/button/button.component.spec.ts
  projects/cli/schematics/components/files/button/button.component.ts
  projects/cli/schematics/components/files/button/index.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/button.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

feat(radio): add component (#67)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/radio/index.ts
  projects/cli/schematics/components/files/radio/radio.component.html
  projects/cli/schematics/components/files/radio/radio.component.scss
  projects/cli/schematics/components/files/radio/radio.component.spec.ts
  projects/cli/schematics/components/files/radio/radio.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/radio.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

ci(eslint): add prefer-self-closing-tags rule (#8)
  .eslintrc.json
  .lintstagedrc
Due: prettier --write --ignore-unknown

refactor(checkbox): change inputElement as required (#63)
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown
