Repository Kordrad/ng-zen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(checkbox): add component (#61)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/schematics/components/files/checkbox/checkbox.component.scss
  projects/cli/schematics/components/files/checkbox/checkbox.component.spec.ts
  projects/cli/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/schematics/components/files/checkbox/index.ts
  projects/cli/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/checkbox.stories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

fix(cli): avatar selection
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/types/schematics-folder.type.ts
  projects/cli/src/utils/apply-file-template.util.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix(cli): avatar selection (#97)
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/types/schematics-folder.type.ts
  projects/cli/src/utils/apply-file-template.util.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

build: 19.0.0-alpha.2
  projects/cli/package.json
Due: prettier --write --ignore-unknown

build: 19.0.0-alpha.2 (#98)
  projects/cli/package.json
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: any of: *.{json,js,ts,html}
  eslint --quiet --fix: any of: *.{js,ts,jsx}
  stylelint --fix: any of: *.{css,scss}
