Repository Kordrad/ng-zen: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

.lintstagedrc:

{
  "*.{json,js,ts,html}": ["prettier --write --ignore-unknown"],
  "*.{js,ts,jsx,html}": ["eslint --quiet --fix"],
  "*.{css,scss}": ["stylelint --fix"]
}

ci(prettier): remove bracketSameLine rule
  .prettierrc
  src/app/app.component.html
Due: prettier --write --ignore-unknown, eslint --quiet --fix

ci(prettier): remove bracketSameLine rule (#9)
  .prettierrc
  src/app/app.component.html
Due: prettier --write --ignore-unknown, eslint --quiet --fix

build(deps): update package-lock.json
  package-lock.json
Due: prettier --write --ignore-unknown

build(deps): bump angular packages (#14)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

refactor(kit): remove unused code
  projects/kit/src/lib/kit.component.spec.ts
  projects/kit/src/lib/kit.component.ts
  projects/kit/src/lib/kit.service.spec.ts
  projects/kit/src/lib/kit.service.ts
  projects/kit/src/public-api.ts
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(kit): add new library
  angular.json
  package-lock.json
  package.json
  projects/kit/.eslintrc.json
  projects/kit/README.md
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/lib/kit.component.spec.ts
  projects/kit/src/lib/kit.component.ts
  projects/kit/src/lib/kit.service.spec.ts
  projects/kit/src/lib/kit.service.ts
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
  src/app/app.component.ts
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix(kit): test & generators
  .stylelintrc.json
  angular.json
  package-lock.json
  package.json
  projects/kit/src/public-api.spec.ts
  projects/kit/src/public-api.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(kit): add new library (#7)
  .stylelintrc.json
  angular.json
  package-lock.json
  package.json
  projects/kit/.eslintrc.json
  projects/kit/README.md
  projects/kit/ng-package.json
  projects/kit/package.json
  projects/kit/src/public-api.spec.ts
  projects/kit/src/public-api.ts
  projects/kit/tsconfig.lib.json
  projects/kit/tsconfig.lib.prod.json
  projects/kit/tsconfig.spec.json
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(kit): add new library
  projects/kit/src/lib/kit.component.spec.ts
  projects/kit/src/lib/kit.component.ts
  projects/kit/src/lib/kit.service.spec.ts
  projects/kit/src/lib/kit.service.ts
  projects/kit/src/public-api.ts
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(badge): add attribute selector
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.ts
  src/app/app.component.html
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(badge): finish badge component
  projects/kit/src/components/badge/badge.component.html
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/typeof.pipe.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(badge): add new component
  projects/kit/src/components/badge/badge.component.html
  projects/kit/src/components/badge/badge.component.spec.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/index.ts
  projects/kit/src/components/badge/typeof.pipe.ts
  projects/kit/src/components/index.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(app): add badge page
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/public-api.ts
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

test: fix scripts and tests
  angular.json
  jest.config.ts
  projects/kit/jest.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(badge): add new component (#10)
  angular.json
  jest.config.ts
  projects/kit/jest.config.ts
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.spec.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/index.ts
  projects/kit/src/components/index.ts
  projects/kit/src/public-api.ts
  src/app/app.component.ts
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

fix: restore project name to ng-zen
  angular.json
Due: prettier --write --ignore-unknown

fix: restore project name to ng-zen (#19)
  angular.json
Due: prettier --write --ignore-unknown

feat(badge): add top/right/bottom/left positions to component
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

fix(eslint): remove quiet flag
  .lintstagedrc
Due: none

feat(badge): add top/right/bottom/left positions to component (#20)
  projects/kit/src/components/badge/badge.component.scss
  projects/kit/src/components/badge/badge.component.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

fix(eslint): remove quiet flag (#21)
  .lintstagedrc
Due: none

build(app): remove src app
  angular.json
  package.json
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
  src/assets/.gitkeep
  src/favicon.ico
  src/index.html
  src/main.ts
  src/styles.scss
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(storybook): configure project
  .eslintrc.json
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/kit/.storybook/main.ts
  projects/kit/.storybook/preview.ts
  projects/kit/.storybook/tsconfig.json
  projects/kit/.storybook/typings.d.ts
  projects/kit/documentation.json
  projects/kit/package.json
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/stories/.eslintrc.json
  projects/kit/src/stories/pages/Configure.mdx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(storybook): add storybook instead of demo app (#26)
  .eslintrc.json
  .gitignore
  angular.json
  package-lock.json
  package.json
  projects/kit/.storybook/main.ts
  projects/kit/.storybook/preview.ts
  projects/kit/.storybook/tsconfig.json
  projects/kit/.storybook/typings.d.ts
  projects/kit/documentation.json
  projects/kit/package.json
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/stories/.eslintrc.json
  projects/kit/src/stories/pages/Configure.mdx
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/pages/badge/badge.component.html
  src/app/pages/badge/badge.component.scss
  src/app/pages/badge/badge.component.spec.ts
  src/app/pages/badge/badge.component.ts
  src/app/pages/badge/index.ts
  src/assets/.gitkeep
  src/favicon.ico
  src/index.html
  src/main.ts
  src/styles.scss
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(avatar): add component
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.component.scss
  projects/kit/src/components/avatar/avatar.component.spec.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/avatar/index.ts
  projects/kit/src/styles/mixins.scss
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(avatar): add component (#32)
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.component.scss
  projects/kit/src/components/avatar/avatar.component.spec.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/avatar/index.ts
  projects/kit/src/styles/mixins.scss
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(pin): add component
  projects/kit/.storybook/preview.ts
  projects/kit/documentation.json
  projects/kit/jest.config.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/index.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.spec.ts
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

refactor(pin/story): move components imports to story
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/pin.stories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(pin): add component (#33)
  projects/kit/.storybook/preview.ts
  projects/kit/documentation.json
  projects/kit/jest.config.ts
  projects/kit/src/components/avatar/avatar.component.ts
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.component.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/index.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.spec.ts
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat(pin): add stream animation
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

refactor(pin): type for stream
  projects/kit/documentation.json
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
  projects/kit/src/types/booleanAttribute.type.ts
  projects/kit/src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat(pin): add stream animation (#34)
  projects/kit/documentation.json
  projects/kit/src/components/avatar/avatar.stories.ts
  projects/kit/src/components/badge/badge.stories.ts
  projects/kit/src/components/pin/pin.component.scss
  projects/kit/src/components/pin/pin.component.ts
  projects/kit/src/components/pin/pin.stories.ts
  projects/kit/src/types/booleanAttribute.type.ts
  projects/kit/src/types/index.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix, stylelint --fix

feat: add docs script
  package.json
Due: prettier --write --ignore-unknown

feat: add docs script (#39)
  package.json
Due: prettier --write --ignore-unknown

feat(cli): add schematics with ng-add
  angular.json
  package.json
  projects/cli/.eslintrc.json
  projects/cli/README.md
  projects/cli/jest.config.ts
  projects/cli/ng-package.json
  projects/cli/package.json
  projects/cli/schematics/collection.json
  projects/cli/schematics/ng-add/index.ts
  projects/cli/src/lib/cli.component.spec.ts
  projects/cli/src/lib/cli.component.ts
  projects/cli/src/lib/cli.service.spec.ts
  projects/cli/src/lib/cli.service.ts
  projects/cli/src/public-api.ts
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.lib.prod.json
  projects/cli/tsconfig.schematics.json
  projects/cli/tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

build(cli): cleanup scripts and configs
  package.json
  projects/cli/.eslintrc.json
  projects/cli/ng-package.json
  projects/cli/package.json
  projects/cli/tsconfig.lib.prod.json
Due: prettier --write --ignore-unknown

feat(cli): update tsconfig
  package-lock.json
  projects/cli/package.json
  projects/cli/schematics/ng-add/index.ts
  projects/cli/schematics/ng-add/schema.json
  projects/cli/schematics/utils/add-path-to-tsconfig.util.ts
  projects/cli/src/lib/cli.component.spec.ts
  projects/cli/src/lib/cli.component.ts
  projects/cli/src/lib/cli.service.spec.ts
  projects/cli/src/lib/cli.service.ts
  projects/cli/src/public-api.ts
  projects/cli/tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

docs(ng-add): change description
  package-lock.json
  projects/cli/package.json
  projects/cli/schematics/ng-add/schema.json
Due: prettier --write --ignore-unknown

feat(workflows/pull-request-check): improve for more projects
  .github/workflows/pull-request-check.yml
Due: none
