Repository Kordrad/ng-zen: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,html}": ["npx eslint --fix"],
  "*.{json,js,ts,html}": ["prettier --write --ignore-unknown"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat(radio): add component
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/radio/index.ts
  projects/cli/schematics/components/files/radio/radio.component.html
  projects/cli/schematics/components/files/radio/radio.component.scss
  projects/cli/schematics/components/files/radio/radio.component.spec.ts
  projects/cli/schematics/components/files/radio/radio.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/radio.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

test(radio): set required inputs values
  projects/cli/schematics/components/files/radio/radio.component.spec.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(radio): add component (#67)
  projects/cli/documentation.json
  projects/cli/schematics/components/components-generator.ts
  projects/cli/schematics/components/files/radio/index.ts
  projects/cli/schematics/components/files/radio/radio.component.html
  projects/cli/schematics/components/files/radio/radio.component.scss
  projects/cli/schematics/components/files/radio/radio.component.spec.ts
  projects/cli/schematics/components/files/radio/radio.component.ts
  projects/cli/schematics/components/schema.json
  projects/cli/stories/components/radio.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

fix(jest): moduleNameMapper
  jest.config.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

fix(directives/disabled): rename ZenHostDirective to ZenDisabledHostDirective
  projects/cli/src/schematics/components/files/button/button.component.ts
  projects/cli/src/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/src/schematics/components/files/radio/radio.component.ts
  projects/cli/src/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/src/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/src/schematics/directives/files/disabled/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

fix(directives/disabled): rename ZenHostDirective to ZenDisabledHostDirective (#69)
  projects/cli/src/schematics/components/files/button/button.component.ts
  projects/cli/src/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/src/schematics/components/files/radio/radio.component.ts
  projects/cli/src/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/src/schematics/directives/files/disabled/disabled.directive.spec.ts
  projects/cli/src/schematics/directives/files/disabled/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

refactor(checkbox, radio, switch): standardize controls
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/checkbox/checkbox.component.html
  projects/cli/src/schematics/components/files/checkbox/checkbox.component.ts
  projects/cli/src/schematics/components/files/radio/radio.component.html
  projects/cli/src/schematics/components/files/radio/radio.component.ts
  projects/cli/src/schematics/components/files/switch/zen-switch.component.html
  projects/cli/src/schematics/components/files/switch/zen-switch.component.ts
  projects/cli/stories/components/checkbox.stories.ts
  projects/cli/stories/components/switch.stories.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

build(eslint): restore eslint
  angular.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix, prettier --write --ignore-unknown

ci: restore dependencies
  .commitlintrc
  .husky/commit-msg
  .husky/pre-commit
  .nanostagedrc
  .prettierignore
  .prettierrc
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

feat(cli): restore cli package (base)
  angular.json
  package.json
  pnpm-lock.yaml
  projects/cli/.npmignore
  projects/cli/README.md
  projects/cli/eslint.config.js
  projects/cli/package.json
  projects/cli/src/collection.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
  projects/cli/tsconfig.spec.json
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(storybook): restore
  .gitignore
  .nanostagedrc
  angular.json
  package.json
  pnpm-lock.yaml
  projects/cli/.storybook/main.ts
  projects/cli/.storybook/preview.ts
  projects/cli/.storybook/tsconfig.json
  projects/cli/.storybook/typings.d.ts
  projects/cli/documentation.json
  projects/cli/eslint.config.js
  projects/cli/package.json
  projects/cli/src/schematics/collection.json
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/files/button/button.component.scss
  projects/cli/src/schematics/components/files/button/button.component.spec.ts
  projects/cli/src/schematics/components/files/button/button.component.ts
  projects/cli/src/schematics/components/files/button/index.ts
  projects/cli/src/schematics/components/index.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/schematics/components/templates/README.md.template
  projects/cli/src/schematics/ng-add/index.ts
  projects/cli/src/schematics/ng-add/ng-zen-generator.ts
  projects/cli/src/schematics/ng-add/schema.json
  projects/cli/src/utils/add-path-to-tsconfig.util.ts
  projects/cli/src/utils/apply-file-template.util.ts
  projects/cli/src/utils/index.ts
  projects/cli/stories/components/button.stories.ts
  projects/cli/stories/pages/Configure.mdx
  tsconfig.json
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix

ci(github): restore(add) ci workflow
  .github/workflows/ci.yml
  package.json
  projects/cli/src/utils/add-path-to-tsconfig.util.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

docs(license): restore
  LICENSE
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/button/button.component.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(jest): restore jest improve other things
  .nanostagedrc
  angular.json
  jest.config.ts
  package.json
  pnpm-lock.yaml
  projects/cli/.storybook/main.ts
  projects/cli/jest.config.ts
  projects/cli/tsconfig.schematics.json
  tsconfig.json
  tsconfig.spec.json
Due: npx eslint --fix, prettier --write --ignore-unknown

style: polishing changes
  README.md
  angular.json
  package.json
  pnpm-lock.yaml
  projects/cli/README.md
  projects/cli/package.json
Due: prettier --write --ignore-unknown

build(cli): add builder to package
  angular.json
  package.json
  pnpm-lock.yaml
  projects/cli/builders/builders.json
  projects/cli/builders/index.js
  projects/cli/builders/schema.json
  projects/cli/package.json
  projects/cli/src/collection.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.lib.prod.json
  projects/cli/tsconfig.spec.json
  tsconfig.spec.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(builder): fix build package & make it easy configurable
  angular.json
  projects/cli/builders/index.js
  projects/cli/tsconfig.lib.prod.json
  projects/cli/tsconfig.schematics.json
Due: npx eslint --fix, prettier --write --ignore-unknown

fix: ci build
  .github/workflows/ci.yml
Due: none

fix: builder function code lint
  projects/cli/builders/index.js
Due: npx eslint --fix, prettier --write --ignore-unknown

build: create new custom builder for CLI package (#79)
  .github/workflows/ci.yml
  angular.json
  package.json
  pnpm-lock.yaml
  projects/cli/builders/builders.json
  projects/cli/builders/index.js
  projects/cli/builders/schema.json
  projects/cli/package.json
  projects/cli/src/collection.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
  projects/cli/tsconfig.spec.json
  tsconfig.spec.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(storybook): add silent option to storybook:doc
  package.json
  projects/cli/documentation.json
Due: prettier --write --ignore-unknown

feat(storybook): add silent option to storybook:doc (#90)
  package.json
  projects/cli/documentation.json
Due: prettier --write --ignore-unknown

chore(.gitignore): add .nx/* to gitignore
  .gitignore
Due: none

chore(.gitignore): add .nx/* to gitignore (#91)
  .gitignore
Due: none

fix(builder): problems with installation in another project
  projects/cli/builders/index.js
  projects/cli/package.json
  projects/cli/src/schematics/components/schema.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
Due: npx eslint --fix, prettier --write --ignore-unknown

fix(builder): problems with installation in another project (#92)
  projects/cli/builders/index.js
  projects/cli/package.json
  projects/cli/src/schematics/components/schema.json
  projects/cli/tsconfig.lib.json
  projects/cli/tsconfig.schematics.json
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(publish): add localpublish scripts and update documentation
  README.md
  package.json
Due: prettier --write --ignore-unknown

feat(publish): add local publish scripts and update documentation (#93)
  README.md
  package.json
Due: prettier --write --ignore-unknown

feat(components): add option to generate stories
  projects/cli/.storybook/main.ts
  projects/cli/documentation.json
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/files/button/button.stories.ts
  projects/cli/src/schematics/components/index.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/schematics/components/templates/README.md.template
  projects/cli/src/types/generator-schema-base.interface.ts
  projects/cli/src/types/index.ts
  projects/cli/src/utils/apply-file-template.util.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

ci(scripts): add verdaccio to scripts
  package.json
Due: prettier --write --ignore-unknown

fix(components/schema): stories description
  projects/cli/src/schematics/components/schema.json
Due: prettier --write --ignore-unknown

feat(components): add option to generate stories (#94)
  package.json
  projects/cli/.storybook/main.ts
  projects/cli/documentation.json
  projects/cli/src/schematics/components/components-generator.ts
  projects/cli/src/schematics/components/files/button/button.stories.ts
  projects/cli/src/schematics/components/index.ts
  projects/cli/src/schematics/components/schema.json
  projects/cli/src/schematics/components/templates/README.md.template
  projects/cli/src/types/generator-schema-base.interface.ts
  projects/cli/src/types/index.ts
  projects/cli/src/utils/apply-file-template.util.ts
Due: npx eslint --fix, prettier --write --ignore-unknown

feat(component/avatar): restore & improve component
  eslint.config.js
  projects/cli/documentation.json
  projects/cli/src/schematics/components/files/avatar/avatar.component.scss
  projects/cli/src/schematics/components/files/avatar/avatar.component.spec.ts
  projects/cli/src/schematics/components/files/avatar/avatar.component.ts
  projects/cli/src/schematics/components/files/avatar/avatar.stories.ts
  projects/cli/src/schematics/components/files/avatar/index.ts
Due: npx eslint --fix, prettier --write --ignore-unknown, stylelint --fix
